<nav class="hero-nav">
  <!-- LOGO -->
  <div class="logo text-uppercase" routerLink="/">Carlotta Sinisi</div>

  <!-- MENU -->
  <ul class="nav-links" [class.open]="menuOpen">
    <li routerLink="/">Home</li>
    <li routerLink="/portfolio">Portfolio</li>

    <!-- SOCIAL -->
    <li class="social-row">
      <a href="https://www.instagram.com/sinisicarlotta/" target="_blank" aria-label="Instagram">
        <i class="fab fa-instagram"></i>
      </a>

      <!-- <a href="https://github.com/tuoaccount" target="_blank" aria-label="GitHub">
        <i class="fab fa-github"></i>
      </a> -->

      <a href="https://www.linkedin.com/in/carlotta-sinisi/" target="_blank" aria-label="LinkedIn">
        <i class="fab fa-linkedin-in"></i>
      </a>
    </li>
  </ul>

  <!-- HAMBURGER -->
  <button class="hamburger" aria-label="Toggle menu" (click)="toggleMenu()">
    <span></span>
    <span></span>
    <span></span>
  </button>
</nav>
