<nav class="hero-nav">
  <div class="logo text-uppercase">Carlotta Sinisi</div>

  <!-- DESKTOP MENU -->
  <ul class="nav-links" [class.open]="menuOpen">
    <li>About</li>
    <li>Services</li>
    <li>Portfolio</li>
    <li>Contact</li>
  </ul>

  <!-- HAMBURGER -->
  <button class="hamburger" aria-label="Toggle menu" (click)="toggleMenu()">
    <span></span>
    <span></span>
    <span></span>
  </button>
</nav>
<section class="hero" #heroSection>
  <div class="hero-inner">
    <!-- LEFT -->
    <div class="hero-side left">
      <p>
        Bachelor’s graduate in<span class="text-uppercase fw-semibold">
          Information <br />and Communication Technologies (ICT)
        </span>
      </p>
    </div>

    <!-- CENTER -->
    <div class="hero-center">
      <h1 class="hero-title">
        <span class="typing">{{ typedText() }}</span>
      </h1>

      <img src="/img/hero.png" alt="Carlotta portrait" class="hero-image" />
    </div>

    <!-- RIGHT -->
    <div class="hero-side right">
      <p>
        <span class="text-uppercase fw-semibold">Junior Frontend Developer</span> with a strong
        <br />interest in web development, UX/UI design, <br />photography, and social media
        management.
      </p>
    </div>
  </div>
  <button class="cta-btn">Download CV</button>
</section>
