<section class="icons">
  <div class="icons-inner">
    <div class="icons-top">
      <div class="icons-title">
        <h2>
          <span class="big">MY</span>
          <span class="script">tools</span>
        </h2>
      </div>

      <p class="icons-copy">
        Try <span class="bold">dragging</span> and <span class="bold">rearranging</span> the icons
        <br />
        by moving them onto each other!
      </p>
    </div>

    <div class="icons-grid" #iconsGrid>
      <article class="icon-item">
        <div class="icon-circle">
          <img src="img/html.png" alt="HTML" />
        </div>
        <span class="icon-label">HTML</span>
      </article>

      <article class="icon-item">
        <div class="icon-circle">
          <img src="img/css.png" alt="CSS" />
        </div>
        <span class="icon-label">CSS</span>
      </article>

      <article class="icon-item">
        <div class="icon-circle">
          <img src="img/js.png" alt="JavaScript" class="icon-img js" />
        </div>
        <span class="icon-label">JavaScript</span>
      </article>

      <article class="icon-item">
        <div class="icon-circle">
          <img src="img/angular.png" alt="Angular" class="icon-img angular" />
        </div>
        <span class="icon-label">Angular</span>
      </article>

      <article class="icon-item">
        <div class="icon-circle">
          <img src="img/git.png" alt="Git" />
        </div>
        <span class="icon-label">Git</span>
      </article>

      <article class="icon-item">
        <div class="icon-circle">
          <img src="img/bootstrap.png" alt="Bootstrap" />
        </div>
        <span class="icon-label">Bootstrap</span>
      </article>

      <article class="icon-item">
        <div class="icon-circle">
          <img src="img/wordpress.png" alt="WordPress" />
        </div>
        <span class="icon-label">WordPress</span>
      </article>

      <article class="icon-item">
        <div class="icon-circle">
          <img src="img/figma.png" alt="Figma" class="icon-img figma" />
        </div>
        <span class="icon-label">Figma</span>
      </article>

      <article class="icon-item">
        <div class="icon-circle">
          <img src="img/canva.png" alt="Canva" class="icon-img canva" />
        </div>
        <span class="icon-label">Canva</span>
      </article>

      <article class="icon-item">
        <div class="icon-circle">
          <img src="img/notion.png" alt="Notion" />
        </div>
        <span class="icon-label">Notion</span>
      </article>
    </div>
  </div>
</section>
