<section class="icons">
  <div class="icons-inner">
    <h2 class="icons-title">
      <span class="big">MY</span>
      <span class="script">tools</span>
    </h2>

    <div class="icons-grid">
      <article class="icon-item">
        <div class="icon-circle">
          <img src="img/html.png" alt="HTML" />
        </div>
        <span class="icon-label">HTML</span>
      </article>

      <article class="icon-item">
        <div class="icon-circle">
          <img src="img/css.png" alt="CSS" />
        </div>
        <span class="icon-label">CSS</span>
      </article>

      <article class="icon-item">
        <div class="icon-circle">
          <img src="img/js.png" alt="JavaScript" style="width: 105px; height: 105px" />
        </div>
        <span class="icon-label">JavaScript</span>
      </article>

      <article class="icon-item">
        <div class="icon-circle">
          <img
            src="img/angular.png"
            alt="Angular"
            style="width: 110px; height: 120px; padding-top: 8px"
          />
        </div>
        <span class="icon-label">Angular</span>
      </article>

      <article class="icon-item">
        <div class="icon-circle">
          <img src="img/git.png" alt="Git" />
        </div>
        <span class="icon-label">Git</span>
      </article>

      <article class="icon-item">
        <div class="icon-circle">
          <img src="img/bootstrap.png" alt="Bootstrap" />
        </div>
        <span class="icon-label">Bootstrap</span>
      </article>

      <article class="icon-item">
        <div class="icon-circle">
          <img src="img/wordpress.png" alt="WordPress" />
        </div>
        <span class="icon-label">WordPress</span>
      </article>

      <article class="icon-item">
        <div class="icon-circle">
          <img src="img/figma.png" alt="Figma" style="width: 130px; height: 130px" />
        </div>
        <span class="icon-label">Figma</span>
      </article>

      <article class="icon-item">
        <div class="icon-circle">
          <img src="img/canva.png" alt="Canva" style="width: 130px; height: 130px" />
        </div>
        <span class="icon-label">Canva</span>
      </article>

      <article class="icon-item">
        <div class="icon-circle">
          <img src="img/notion.png" alt="Notion" />
        </div>
        <span class="icon-label">Notion</span>
      </article>
    </div>
  </div>
</section>
